.page-entries-info= "showing #{Track.per_page} randomly selected tracks"
= render :partial => 'tracklist', :object => @tracks
.page-entries-info= link_to_function 'refresh random sample', 'loadResults()'
