$heading: 100px;

$headingpad: 10px;
$headingheight: $heading - (2 * $headingpad);

$logoheight: 100px;

/* Globally applicable styles */

* {
  font-family: sans-serif ;
  margin: 0 ;
  padding: 0 ;
}

.heading {
  position: fixed ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  height: $headingheight ;
  padding: $headingpad 7% ;
  background: #eee ;
  border-bottom: outset 2px gray ;
  
  h1 {
    margin-bottom: 0 - $logoheight ;
  }
  
  ul.navigation {
    margin-top: $logoheight ;
    list-style: none ;
    
    li {
      display: inline ;
    }
  }
}

.content {
  margin-top: $heading ;
  padding: 1em 5% 0 ;
  
  h2 {
    color: #888 ;
    font-size: 200% ;
    font-weight: normal ;
    font-style: italic ;
    font-variant: small-caps ;
    letter-spacing: 4px ;
    margin: 0.5em 0 0.5em -1em ;
  }
}

/* AJAX status */

.status {
  position: absolute ;
  left: 5% ;
  right: 5% ;
  bottom: 5% ;
  border: 2px outset ;
  font-weight: bold ;
  text-align: center ;
  padding: 10px 4% ;
  display: none ;
}

#success {
  color: darken(green, 30%) ;
  border-color: green ;
  background-color: lighten(green, 40%) ;
}

#failure {
  display: none ;
  color: darken(red, 30%) ;
  border-color: red ;
  background-color: lighten(red, 40%) ;
}

/* Player */

.player {
  width: 70% ;
  float: right ;

  .disable { display: none }
  
  .error {
    color: darken(red, 30%) ;
    border: 2px outset red ;
    padding: 2px 5px ;
    background-color: lighten(red, 40%) ;
  }
  
  .controls {
    font-size: 110% ;
    float: left ;
    text-align: center ;
    width: 20% ;
    padding: 5px ;
  }
  
  .track {
    font-size: 110% ;
    margin-left: 1em ;
    padding: 5px ;
    background: none ;
  }
  
  .progress {
    clear: both ;
    position: relative ;
    font-weight: bold ;
    text-align: center ;
    background: white ;
    margin: 5px ;
    border: inset 2px black ;
    .bar {
      position: absolute ;
      left: 0 ;
      top: 0 ;
      bottom: 0 ;
      background: #ddf ;
      z-index: 1 ;
    }
    span {
      position: relative ;
      z-index: 2 ;
    }
  }
}

/* Tracks */

.tracks li, .playlist li , .track {
  background: #ddf ;
  padding: 3px 10px ;
  margin: 2px 0 ;
  list-style: none ;
  font-size: 90% ;

  span.artist {
    margin-right: 4px ;
  }
  
  span.title {
    font-weight: bold ;
    margin-right: 4px ;
  }
  
  span.track-number {
    margin-right: 2px ;
  }
  
  span.album {
    font-style: italic ;
    margin-right: 2px ;
  }
}
