$heading: 120px;

$headingpad: 20px;
$headingheight: $heading - (2 * $headingpad);

@mixin replace-image($url, $width, $height) {
  display: inline-block ;
  background: $url no-repeat ;
  text-indent: -9999px ;
  overflow: hidden ;
  height: $height ;
  width: $width ;
}

/* Globally applicable styles */

* {
  font-family: sans-serif ;
  margin: 0 ;
  padding: 0 ;
}

.heading {
  position: fixed ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  height: $headingheight ;
  padding: $headingpad 5% ;
  background: #fff ;
  border-bottom: outset 2px gray ;

  .panel {
    width: 30% ;
    text-align: center ;
    ul.navigation {
      padding-left: 70px ;
      list-style: none ;
      li {
        margin: 0 5px ;
        display: inline ;
      }
    }
  }
}

.content {
  margin-top: $heading ;
  padding: 1em 5% 0 ;

  h2 {
    color: #888 ;
    font-size: 200% ;
    font-weight: normal ;
    font-style: italic ;
    font-variant: small-caps ;
    letter-spacing: 4px ;
    margin: 0.5em 0 0.5em -1em ;
  }
}

/* AJAX status */

.status {
  position: absolute ;
  left: 5% ;
  right: 5% ;
  bottom: 5% ;
  border: 2px outset ;
  font-weight: bold ;
  text-align: center ;
  padding: 10px 4% ;
  display: none ;
}

#success {
  color: #030 ;
  border-color: green ;
  background-color: #cfc ;
}

#failure {
  display: none ;
  color: darken(red, 30%) ;
  border-color: red ;
  background-color: lighten(red, 40%) ;
}

/* Player */

.player {
  width: 70% ;
  float: right ;

  .disable { display: none !important }

  .error {
    position: absolute ;
    top: 5% ;
    right: 7% ;
    color: darken(red, 30%) ;
    border: 2px outset red ;
    padding: 2px 5px ;
    background-color: lighten(red, 40%) ;
  }

  .album-art {
    float: left ;
    border: solid 1px black ;
  }

  $player-height: 92px ;
  $album-width: 92px;
  $volume-width: 12px;

  .central {
    margin: 0 $volume-width 0 $album-width ;

    .control-cluster {
      float: right ;
      padding: 0 15px ;

      .controls {
        $small-dim: 32px;
        $large-dim: 48px;

        #command_restart {
          @include replace-image(image-url('button-restart.png'), $small-dim, $small-dim);
        }
        // .submitted#command_restart {
        //   @include replace-image(image-url('button-restart-submitted.png'), $small-dim, $small-dim);
        // }

        #command_play {
          @include replace-image(image-url('button-play.png'), $large-dim, $small-dim);
        }
        // .submitted#command_play {
        //  @include replace-image(image-url('button-play-submitted.png'), $large-dim, $large-dim);
        // }

        #command_pause {
          @include replace-image(image-url('button-pause.png'), $large-dim, $small-dim);
        }
        // .submitted#command_pause {
        //  @include replace-image(image-url('button-pause-submitted.png'), $large-dim, $large-dim);
        // }

        #command_skip {
          @include replace-image(image-url('button-skip.png'), $small-dim, $small-dim);
        }
        // .submitted#command_restart {
        //  @include replace-image(image-url('button-skip-submitted.png'), $small-dim, $small-dim);
        // }
      }

      .progress-text {
        text-align: right ;
        margin: 15px 5px 0 0 ;
        font-family: Corbel, serif ;
        font-style: italic ;
        color: #333 ;
      }
    }

    .track {
      background: none ;

      .title {
        font-size: 125% ;
        font-weight: bold ;
      }
      .artist {
        padding-left: 10px ;
        font-size: 110% ;
      }
      .album {
        padding-left: 10px ;
        font-style: italic ;
        font-size: 110% ;
      }
    }

    .progress {
      position: relative ;
      margin: 5px 15px 0 0 ;
      border-top: solid 1px black ;
      height: 5px ;
      .bar {
        position: absolute ;
        left: 0 ;
        top: 0 ;
        bottom: 0 ;
        background: #ddf ;
        z-index: 1 ;
      }
    }
  } // .central

  .volume {
    position: relative ;
    float: right ;
    width: $volume-width ;
    height: $player-height ;
    border-left: solid 1px black ;
    background-image: image-url('volume.png') ;

    .mask {
      position: absolute ;
      left: 0 ;
      right: 0 ;
      top: 0 ;
      height: 0% ;
      background-color: white ;
    }
  }
}

/* Tracks */

.tracks li, .playlist li , .track {
  background: #ddf ;
  padding: 3px 10px ;
  margin: 2px 0 ;
  list-style: none ;
  font-size: 90% ;

  span.artist {
    margin-right: 4px ;
  }

  span.title {
    font-weight: bold ;
    margin-right: 4px ;
  }

  span.track-number {
    margin-right: 2px ;
  }

  a.album {
    font-style: italic ;
    margin-right: 2px ;
  }
}
