- @playlist.each do |enqueued|
  %li{ :id => "enqueued_track_#{enqueued.id}" }
    %span.handle [=]
    = render :partial => 'tracks/track', :object => enqueued.track
    = link_to 'remove', dequeue_playlist_path(:id => enqueued), :class => 'remove',
        :method => 'DELETE', :remote => true
